build/centos-7/Dockerfile	linguist-generated=true
build/centos-8/Dockerfile	linguist-generated=true
build/debian-bullseye/Dockerfile	linguist-generated=true
build/debian-buster/Dockerfile	linguist-generated=true
build/fedora-29/Dockerfile	linguist-generated=true
build/linux-aarch64/Dockerfile	linguist-generated=true
build/linux-x86_64/Dockerfile	linguist-generated=true
build/linuxmusl-aarch64/Dockerfile	linguist-generated=true
build/linuxmusl-x86_64/Dockerfile	linguist-generated=true
build/ubuntu-bionic/Dockerfile	linguist-generated=true
build/ubuntu-focal/Dockerfile	linguist-generated=true
build/ubuntu-hirsute/Dockerfile	linguist-generated=true
build/ubuntu-jammy/Dockerfile	linguist-generated=true
build/debian-bookworm/Dockerfile	linguist-generated=true
build/rockylinux-9/Dockerfile	linguist-generated=true
build/ubuntu-noble/Dockerfile	linguist-generated=true
test/centos-7/Dockerfile	linguist-generated=true
test/centos-8/Dockerfile	linguist-generated=true
test/debian-bullseye/Dockerfile	linguist-generated=true
test/debian-buster/Dockerfile	linguist-generated=true
test/linux-aarch64/Dockerfile	linguist-generated=true
test/linux-x86_64/Dockerfile	linguist-generated=true
test/linuxmusl-aarch64/Dockerfile	linguist-generated=true
test/linuxmusl-x86_64/Dockerfile	linguist-generated=true
test/ubuntu-bionic/Dockerfile	linguist-generated=true
test/ubuntu-focal/Dockerfile	linguist-generated=true
test/ubuntu-hirsute/Dockerfile	linguist-generated=true
test/ubuntu-jammy/Dockerfile	linguist-generated=true
test/debian-bookworm/Dockerfile	linguist-generated=true
test/rockylinux-9/Dockerfile	linguist-generated=true
test/ubuntu-noble/Dockerfile	linguist-generated=true
testpublished/centos-7/Dockerfile	linguist-generated=true
testpublished/centos-8/Dockerfile	linguist-generated=true
testpublished/debian-bullseye/Dockerfile	linguist-generated=true
testpublished/debian-buster/Dockerfile	linguist-generated=true
testpublished/linux-aarch64/Dockerfile	linguist-generated=true
testpublished/linux-x86_64/Dockerfile	linguist-generated=true
testpublished/linuxmusl-aarch64/Dockerfile	linguist-generated=true
testpublished/linuxmusl-x86_64/Dockerfile	linguist-generated=true
testpublished/ubuntu-bionic/Dockerfile	linguist-generated=true
testpublished/ubuntu-focal/Dockerfile	linguist-generated=true
testpublished/ubuntu-hirsute/Dockerfile	linguist-generated=true
testpublished/ubuntu-jammy/Dockerfile	linguist-generated=true
testpublished/debian-bookworm/Dockerfile	linguist-generated=true
testpublished/rockylinux-9/Dockerfile	linguist-generated=true
testpublished/ubuntu-noble/Dockerfile	linguist-generated=true
test-systemd/centos-7/Dockerfile	linguist-generated=true
test-systemd/centos-8/Dockerfile	linguist-generated=true
test-systemd/debian-bullseye/Dockerfile	linguist-generated=true
test-systemd/debian-buster/Dockerfile	linguist-generated=true
test-systemd/fedora-29/Dockerfile	linguist-generated=true
test-systemd/ubuntu-bionic/Dockerfile	linguist-generated=true
test-systemd/ubuntu-focal/Dockerfile	linguist-generated=true
test-systemd/debian-bookworm/Dockerfile	linguist-generated=true
test-systemd/rockylinux-9/Dockerfile	linguist-generated=true
upload/linux-x86_64/Dockerfile	linguist-generated=true
